.button-theme {
    font-size: 1em;
    letter-spacing: 0.3px;
    font-weight: var(--fw500);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    padding: 7px 20px;
    overflow: hidden;
}

.button-theme > i {
    margin-left: 5px;
    position: relative;
    top: 1px;
    transition: margin .3s ease-in;
}

.button-theme:hover > i {
    margin-left: 10px;
}

.button-theme.button-theme_primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}

.button-theme.button-theme_primary:hover {
    border: 1px solid var(--primary-hover);
    background-color: var(--primary-hover);
    color: var(--white);
}

.button-theme.button-theme_primary__outline {
    border: 1px solid var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
}

.button-theme.button-theme_primary__outline:hover {
    border: 1px solid var(--primary-hover);
    background-color: var(--primary-hover);
    color: var(--white);
}

.button-theme.button-theme_ui {
    border: 1px solid var(--primary-color);
    background-color: rgba(1, 36, 103, .1);
    color: var(--primary-color);
}

.button-theme.button-theme_ui:hover {
    border: 1px solid var(--primary-hover);
    background-color: var(--primary-hover);
    color: var(--white);
}

.button-theme.button-theme_secondary {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white);
}

.button-theme.button-theme_secondary:hover {
    border: 1px solid var(--secondary-hover);
    background-color: var(--secondary-hover);
    color: var(--white);
}

.button-theme.button-theme_secondary__outline {
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    color: var(--secondary-color);
}

.button-theme.button-theme_secondary__outline:hover {
    border: 1px solid var(--secondary-hover);
    background-color: var(--secondary-hover);
    color: var(--white);
}

.button-theme.button-theme_ui__secondary {
    border: 1px solid var(--secondary-color);
    background-color: rgba(247, 147, 33, 0.05);
    color: var(--secondary-color);
}

.button-theme.button-theme_ui__secondary:hover {
    border: 1px solid var(--secondary-hover);
    background-color: var(--secondary-hover);
    color: var(--white);
}

.button-theme + .button-theme {
    margin-left: 15px;
}


.form-fields {
    margin-top: 15px;
}

.form-field {
    display: flex;
    align-items: center;
    position: relative;
}

.form-field.form-field_multi .form-field_item {
    width: 50%;
    flex-shrink: 0;
    position: static;
    height: 60px;
}

.form-field.form-field_multi .form-field_item:first-of-type {
    border-radius: 4px 0 0 4px;
}

.form-field.form-field_multi .form-field_item:last-of-type {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.form-field.form-field_multi .flatpickr-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.form-field .form-field_item.form-field_button {
    padding: 0;
    overflow: hidden;
}

.form-field .form-field_item.form-field_button > button {
    width: 100%;
    background: var(--secondary-color);
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: var(--fw700);
    border-radius: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    height: 58px;
}

.form-field .form-field_item.form-field_button > button:hover {
    background: var(--secondary-hover);
}

.form-field .form-field_item.form-field_button > button > i {
    margin-left: 5px;
}

.form-field .form-field_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background: var(--white);
    padding: 10px;
}

.form-field .form-field_item .form-field_icon {
    color: var(--gray-300);
    font-size: 1.3em;
    width: 25px;
    flex-shrink: 0;
}

.form-field .form-field_item .form-field_content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field .form-field_item .form-field_content .form-field_label,
.form-field .form-field_item .form-field_content .form-field_text {
    margin-bottom: 0;
    line-height: 1.1;
    color: var(--gray-400);
    font-size: 1em;
}

.form-field .form-field_item .form-field_content .form-field_text {
    line-height: 28px;
    height: 24px;
    text-transform: capitalize;
}

.form-field .form-field_item .form-field_content .form-field_label.form-field_label__highlight {
    color: var(--gray-900);
}

.form-field .form-field_item .form-field_content .form-field_control {
    border: 0;
    background: transparent;
    box-shadow: none;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: var(--gray-900);
}

.form-field .form-field_item .form-field_content .select2-container .select2-selection--single {
    border: 0;
    background: transparent;
    box-shadow: none;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: var(--gray-900);
    height: 24px;
}

.form-field .form-field_item .form-field_content .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: inherit;
    width: calc(100% - 30px);
    line-height: 28px;
}

.form-field .form-field_item .form-field_content .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0;
}

.form-field .form-field_item .form-field_content .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: var(--fw300);
    font-size: 14px;
    content: "\f107";
    color: var(--gray-500);
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    transition: var(--transition);
}

.form-field .form-field_item .form-field_content .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.form-field .form-field_item .select2-container--open {
    top: calc(100% + 1px) !important;
    left: 0 !important;
    right: 0 !important;
}

.form-field .form-field_item .select2-container--open .select2-dropdown {
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: var(--shadow-md);
    border-radius: 4px;
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-search--dropdown {
    padding: 10px;
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    padding: 5px 10px;
    transition: none;
    color: var(--gray-900);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-search--dropdown .select2-search__field:placeholder-shown {
    color: var(--gray-400);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results__option {
    padding: 10px;
    color: var(--gray-900);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results__option--selected,
.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(1, 36, 103, .05);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results__option--selected .option-select_item .option-select_item__title {
    font-weight: var(--fw700);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results__option .option-select_item .option-select_item__desc {
    font-size: .95em;
    color: var(--gray-400);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background: var(--white);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: #acacac;
    transition: var(--transition);
}

.form-field .form-field_item .select2-container--open .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.form-field .form-field_item .form-field_dropdown {
    height: 24px;
    line-height: 28px;
    cursor: pointer;
    color: var(--gray-400);
}

.form-field .form-field_item .form-field_dropdown__hidden {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    padding: 10px;
    background: var(--light-color);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    z-index: 2;
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-field .form-field_item.is-show .form-field_dropdown__hidden {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 4px;
    border: 1px dashed var(--gray-200);
    padding: 10px;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__text {
    display: flex;
    align-items: center;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__text .dropdown-hidden_item__count {
    font-size: 1.5em;
    font-weight: var(--fw500);
    flex-shrink: 0;
    text-align: center;
    width: 30px;
    margin-right: 10px;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__text .dropdown-hidden_item__content .dropdown-hidden_item__desc {
    font-size: .9em;
    color: var(--gray-400);
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__quantity {
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__quantity {
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__quantity .button-quantity {
    border-radius: 4px;
    background: var(--light-color);
    border: 1px solid var(--gray-200);
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: var(--gray-500);
    height: 30px;
    width: 30px;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__quantity .button-quantity:hover {
    background: var(--white);
    color: var(--gray-900);
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item .dropdown-hidden_item__quantity .button-quantity + .button-quantity {
    margin-left: 5px;
}

.form-field .form-field_item .form-field_dropdown__hidden .dropdown-hidden_item + .dropdown-hidden_item {
    margin-top: 10px;
}


.section-heading {
    margin-bottom: 30px;
}

.section-heading .title {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.2;
}

.section-heading .desc {
    font-size: 1em;
    color: var(--gray-400);
}

.section-gap {
    padding: 40px 0;
}

.header {
    background-color: var(--primary-color);
    position: relative;
    z-index: 10;
}

.header .header-navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.header .header-navbar .header-navbar_bar {
    margin-right: 50px;
}

.header .header-navbar .header-navbar_nav > ul {
    display: flex;
    align-items: center;
}

.header .header-navbar .header-navbar_nav > ul > li {
    position: relative;
}

.header .header-navbar .header-navbar_nav > ul > li > a {
    font-size: 1.2em;
    font-weight: var(--fw500);
    color: var(--white);
    padding: 20px;
    display: block;
    position: relative;
}

.header .header-navbar .header-navbar_nav > ul > li > a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    display: block;
    content: "";
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.header .header-navbar .header-navbar_nav > ul > li > ul {
    position: absolute;
    background: var(--white);
    z-index: 100;
    width: max-content;
    min-width: 150px;
    right: 0;
    left: 0;
    top: calc(100% + 50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -webkit-box-shadow: var(--shadow-md);
    -moz-box-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
    padding: 10px;
    border-radius: 5px;
}

.header .header-navbar .header-navbar_nav > ul > li > ul > li > a {
    display: block;
    padding: 8px 15px;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: var(--fw500);
    border-radius: 5px;
}

.header .header-navbar .header-navbar_nav > ul > li > ul > li > a:hover {
    background-color: rgba(1, 36, 103, .05);
}

.header .header-navbar .header-navbar_nav > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header .header-navbar .header-navbar_nav > ul > li.active > a:before {
    opacity: 1;
    visibility: visible;
}

.header .header-navbar .header-navbar_nav > ul > li.active > a,
.header .header-navbar .header-navbar_nav > ul > li:hover > a {
    color: var(--secondary-color);
}

.header .header-navbar .header-navbar_actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .header-navbar .header-navbar_actions .header-navbar_user {
    position: relative;
    margin-right: 30px;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > a {
    display: block;
    padding: 20px 0;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > a > span {
    font-size: 1.2em;
    color: var(--white);
}

.header .header-navbar .header-navbar_actions .header-navbar_user > a > i {
    margin-left: 5px;
    transition: var(--transition);
    color: var(--gray-200);
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul {
    position: absolute;
    background: var(--white);
    z-index: 100;
    width: max-content;
    min-width: 150px;
    right: 0;
    top: calc(100% + 40px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -webkit-box-shadow: var(--shadow-md);
    -moz-box-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
    padding: 10px;
    border-radius: 5px;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul:before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    display: block;
    content: "";
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul:after {
    top: -10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--white);
    position: absolute;
    display: block;
    right: 20px;
    width: 0;
    height: 0;
    content: "";
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li:not(.header-navbar_user__nologin) > a {
    display: block;
    padding: 8px 15px;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: var(--fw500);
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li:not(.header-navbar_user__nologin) > a:hover {
    background-color: rgba(1, 36, 103, .05);
    border-radius: 5px;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li.header-navbar_user__nologin {
    text-align: center;
    padding: 8px 10px;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li.header-navbar_user__nologin > .button > a {
    background: var(--primary-color);
    border: 1px solid var(--primary-hover);
    color: var(--white);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    transition: var(--transition);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li.header-navbar_user__nologin .text {
    margin-top: 5px;
    color: var(--gray-400);
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li.header-navbar_user__nologin .text > a {
    color: var(--gray-700);
}

.header .header-navbar .header-navbar_actions .header-navbar_user > ul > li.header-navbar_user__nologin .text > a:hover {
    color: var(--primary-color);
}

.header .header-navbar .header-navbar_actions .header-navbar_user:hover > a > i {
    transform: rotate(180deg);
}

.header .header-navbar .header-navbar_actions .header-navbar_user:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact {
    position: relative;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__phone {
    font-size: 1.6em;
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__phone > a {
    color: inherit;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__phone > a:hover {
    color: var(--secondary-hover);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__phone > a > i {
    font-size: .85em;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown {
    position: relative;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > .text {
    color: var(--gray-300);
    font-size: 0.95em;
    cursor: pointer;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > .text > i {
    transition: var(--transition);
    margin-left: 5px;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown:hover > .text {
    color: var(--gray-100);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown:hover > .text > i {
    transform: rotate(180deg);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul {
    position: absolute;
    background: var(--white);
    z-index: 100;
    width: max-content;
    min-width: 150px;
    right: 0;
    top: calc(100% + 40px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    transition: all .3s cubic-bezier(0.58, 0, 0.265, 1.55);
    -webkit-box-shadow: var(--shadow-md);
    -moz-box-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
    padding: 10px;
    border-radius: 5px;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul:before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    display: block;
    content: "";
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul:after {
    top: -10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--white);
    position: absolute;
    display: block;
    right: 20px;
    width: 0;
    height: 0;
    content: "";
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    color: var(--secondary-hover);
    font-size: 1.1em;
    font-weight: var(--fw500);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul > li > a > span {
    font-weight: var(--fw400);
    color: var(--gray-400);
    margin-right: 30px;
    transition: var(--transition);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul > li > a:hover {
    background-color: rgba(1, 36, 103, .05);
    border-radius: 5px;
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown > ul > li > a:hover > span {
    color: var(--gray-700);
}

.header .header-navbar .header-navbar_actions .header-navbar_contact .header-navbar_contact__dropdown:hover > ul {
    top: calc(100% + 6px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header .header-bottom {
    padding: 10px 0;
    transition: var(--transition);
    transform: translateY(130%);
    display: none;
}

.header .header-bottom .form-fields {
    display: flex;
    width: calc(100% + 10px);
    margin: 0 -5px;
}

.header .header-bottom .form-fields .form-field {
    padding-left: 5px;
    padding-right: 5px;
    height: 48px;
}

.header .header-bottom .form-fields .form-field .form-field_item .form-field_content .form-field_text,
.header .header-bottom .form-fields .form-field .form-field_item .form-field_dropdown {
    line-height: 20px;
    height: 18px;
}

.header .header-bottom .form-fields .form-field .form-field_item {
    height: 48px;
}

.header .header-bottom .form-fields .form-field.form-field-50 {
    width: 50%;
}

.header .header-bottom .form-fields .form-field.form-field-35 {
    width: 35%;
}

.header .header-bottom .form-fields .form-field.form-field-15 {
    width: 15%;
}


.header.is-scroll {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
    -webkit-animation: header-scroll .5s forwards;
    animation: header-scroll .5s forwards;
}

.header.is-scroll .header-top {
    display: none;
}

.header.is-scroll .header-bottom {
    display: block;
    transform: translateY(0);
}

.header.no-scroll {
    -webkit-animation: header-no_scroll .5s forwards;
    animation: header-no_scroll .5s forwards;
}

@-webkit-keyframes header-scroll {
    0% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

@keyframes header-scroll {
    0% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

@-webkit-keyframes header-no_scroll {
    0% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

@keyframes header-no_scroll {
    0% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

.section-hero {
    height: 100vh;
    background: var(--white) center center/cover no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px 0;
}

.section-hero:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.15);
}

.section-hero .hero-inner {
    position: relative;
    z-index: 2;
}

.section-hero .hero-inner .hero-heading {
    margin-bottom: 20px;
}

.section-hero .hero-inner .hero-heading .title {
    text-transform: uppercase;
    font-size: 3em;
    color: var(--white);
    text-shadow: 0 0 1px var(--primary-color), 0 0 1px var(--primary-color);
    margin-bottom: 5px;
    line-height: 1.2;
    font-weight: var(--fw700);
}

.section-hero .hero-inner .hero-heading .desc {
    font-size: 1.4em;
    color: var(--white);
    text-shadow: 0 0 1px var(--primary-color), 0 0 1px var(--primary-color);
    line-height: 1.2;
}

.hero-form {
    background: rgba(0, 0, 0, .3);
    padding: 15px;
    border-radius: 4px;
}

.hero-form .nav-tabs {
    margin-bottom: 0;
    border-bottom: 0;
}

.hero-form .nav-tabs .nav-item + .nav-item {
    margin-left: 30px;
}

.hero-form .nav-tabs .nav-item .nav-link {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    color: var(--gray-200);
    font-size: 1em;
    font-weight: var(--fw700);
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.hero-form .nav-tabs .nav-item .nav-link:before {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    display: block;
    border: 1px solid var(--gray-200);
    transition: var(--transition);
}

.hero-form .nav-tabs .nav-item .nav-link:after {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    content: "";
    display: block;
    background: var(--gray-200);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hero-form .nav-tabs .nav-item .nav-link.active {
    color: var(--white);
}

.hero-form .nav-tabs .nav-item .nav-link.active:before {
    border-color: var(--white);
}

.hero-form .nav-tabs .nav-item .nav-link.active:after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(-50%) scale(1);
    background: var(--white);
}

.section-benefit {
    padding: 17px 0;
    background: #fff;
}

.section-benefit .benefit-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    vertical-align: middle;
    transition: var(--transition);
    color: var(--gray-800);
    font-size: 1em;
    padding-right: 15px;
}

.section-benefit .benefit-item + .benefit-item {
    border-left: 1px solid #e9e9e9;
    padding-left: 25px;
}

.section-benefit .benefit-item .benefit-item_icon {
    flex-shrink: 0;
    margin-right: 15px;
}

.section-benefit .benefit-item .benefit-item_icon > img {
    width: 40px;
    height: auto;
    max-width: 100%;
}

.section-benefit .benefit-item .benefit-item_content .benefit-item_title {
    font-weight: 700;
}

.section-benefit .benefit-item .benefit-item_content .benefit-item_desc {
    color: var(--gray-500);
}

.card-flight {
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: var(--shadow-md);
    transition: var(--transition);
}

.card-flight .card-header {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: 0;
    display: flex;
    width: 100%;
}

.card-flight .card-header .card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 5px;
    white-space: nowrap;
}

.card-flight .card-header .card-group .card-title {
    font-size: 1.05em;
    font-weight: 700;
    color: var(--gray-800);
    margin-bottom: 0;
}

.card-flight .card-header .card-group .card-text {
    font-size: .95em;
    color: var(--gray-400);
}

.card-flight .card-header .card-group .card-icon {
    margin: 0 10px;
    font-size: 1.2em;
    color: var(--gray-400);
}

.card-flight .card-header .card-price {
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
    position: relative;
    top: -1px;
}

.card-flight .card-header .card-price .current {
    font-size: 1.2em;
    color: var(--red-color);
    font-weight: 700;
    line-height: 1.2;
}

.card-flight .card-header .card-price .old {
    font-size: 0.95em;
    color: var(--gray-400);
    text-decoration: line-through;
    text-align: right;
}

.card-flight .card-header .card-price small {
    font-size: .65em;
    font-weight: var(--fw400);
}

.card-flight .card-body {
    padding: 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-flight .card-body .card-logo {
    padding-right: 10px;
    flex-shrink: 0;
}

.card-flight .card-body .card-logo > img {
    height: 40px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.card-flight .card-body .card-button {
    color: var(--white);
    background-color: var(--secondary-color);
    font-size: 1em;
    font-weight: var(--fw500);
    padding: 4px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: var(--transition);
}

.card-flight .card-body .card-button:hover {
    background-color: var(--secondary-hover);
}

.card-flight:hover {
    box-shadow: var(--shadow-xl);
}

.section-destination {
    background-color: var(--white);
}

.card-destination {
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.card-destination .card-header {
    background-color: transparent;
    padding: 0;
    border-radius: 8px;
    border-bottom: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-destination .card-header:before {
    content: "";
    padding-bottom: 66.5%;
    display: block;
}

.card-destination .card-header > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.card-destination .card-header > a:hover {
    transform: scale(1.1);
    opacity: .95;
}

.card-destination .card-header > a:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .15);
    content: "";
    display: block;
}

.card-destination .card-header .card-img-top {
    border-radius: 8px;
}

.card-destination .card-body {
    padding: 10px 7px;
}

.card-destination .card-body .card-title {
    margin-bottom: 2px;
}

.card-destination .card-body .card-title > a {
    font-size: 1.1em;
    color: var(--gray-800);
    font-weight: 700;
    line-height: 1.2;
}

.card-destination .card-body .card-text {
    font-size: 0.95em;
    color: var(--gray-400);
}

.card-destination .card-body .card-title > a:hover {
    color: var(--primary-color);
}

.section-tours {
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}

.card-tour {
    border-radius: 8px;
    box-shadow: var(--shadow-md);
    background-color: var(--white);
    border: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: var(--transition);
}

.card-tour .card-header {
    padding: 0;
    background-color: var(--white);
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.card-tour .card-header .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card-tour .card-header .card-image:before {
    display: block;
    content: "";
    padding-top: 66.66667%;
}

.card-tour .card-header .card-image .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.card-tour .card-header .card-rate {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 1em;
    font-weight: var(--fw700);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-tour .card-header .card-rate:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid var(--secondary-color);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.card-tour .card-header .card-review {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 44px;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    color: var(--gray-200);
    padding: 6px 10px;
    border-radius: 8px;
    font-size: .85em;
    line-height: 1.3;
}

.card-tour .card-header .card-review .value {
    font-weight: var(--fw700);
    color: var(--white);
    font-size: 1.1em;
}

.card-tour .card-header .card-favourite {
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--white);
    height: 35px;
    width: 35px;
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    z-index: 2;
}

.card-tour .card-header .card-favourite > button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 50%;
    border: 0;
    outline: 0;
    box-shadow: var(--shadow-sm) !important;
    cursor: pointer;
}

.card-tour .card-header .card-favourite > button > svg {
    width: 18px;
    height: auto;
    stroke: var(--gray-900);
    transition: var(--transition);
}

.card-tour .card-header .card-favourite > button.is-selected > svg {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
}

.card-tour .card-header .card-time {
    position: absolute;
    top: 57px;
    left: 0;
    border-radius: 0 5px 5px 0;
    color: var(--red-color);
    background-color: var(--white);
    display: inline-block;
    padding: 5px 10px;
    z-index: 2;
    font-weight: var(--fw500);
    box-shadow: var(--shadow-md);
}

.card-tour .card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-tour .card-body .card-day {
    color: var(--gray-500);
    font-size: .95em;
    margin-bottom: 5px;
}

.card-tour .card-body .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    line-height: 1.3;
}

.card-tour .card-body .card-title > a {
    color: var(--gray-800);
    font-weight: var(--fw700);
    font-size: 1.1em;
}

.card-tour .card-body .card-desc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-tour .card-body .card-desc > .text {
    display: flex;
    align-items: center;
    color: var(--gray-600);
}

.card-tour .card-body .card-desc > .text > i {
    width: 20px;
}

.card-tour .card-body .card-desc > .value {
    margin-left: 5px;
    font-weight: var(--fw500);
}

.card-tour .card-body .card-desc + .card-desc {
    margin-top: 4px;
}

.card-tour .card-body .card-price {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card-tour .card-body .card-price .price {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.card-tour .card-body .card-price .price .old {
    font-size: 1.1em;
    color: var(--gray-500);
}

.card-tour .card-body .card-price .price .old .value {
    text-decoration: line-through;
}

.card-tour .card-body .card-price .price .current .value {
    color: var(--red-color);
    font-weight: var(--fw700);
    font-size: 1.3em;
}

.card-tour .card-body .card-price .badge {
    margin-left: auto;
    margin-bottom: 5px;
    color: var(--white);
    font-size: .95em;
    background-color: var(--red-color);
    border-radius: 4px;
    padding: 8px 10px;
    font-weight: var(--fw700);
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-tour .card-body .card-time {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    background: rgba(247, 147, 33, 0.05);
    color: var(--secondary-color);
    border-radius: 4px;
    padding: 10px;
    font-weight: var(--fw700);
}

.card-tour .card-body .card-expand {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-tour .card-body .card-expand > button {
    font-size: 1em;
    color: var(--gray-900);
    font-weight: 700;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.card-tour .card-body .card-expand > button svg {
    margin-right: 5px;
}

.card-tour .card-body .card-expand .text {
    margin-left: auto;
    font-size: 1em;
    color: var(--gray-900);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
}

.card-tour .card-body .card-expand .text span {
    color: var(--red-color);
    font-size: 1.4em;
    margin-left: 5px;
}

.card-tour:hover {
    box-shadow: var(--shadow-lg);
}

.card-tour .card-header:hover .card-image .card-img-top {
    transform: scale(1.1);
    opacity: .8;
}

.card-tour .card-body .card-title > a:hover {
    color: var(--primary-color);
}

.card-combo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 0;
    background-color: var(--white);
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
}

.card-combo + .card-combo {
    margin-top: 20px;
}

.card-combo .card-header {
    padding: 0;
    background-color: var(--white);
    border-radius: 8px 0 0 8px;
    border-bottom: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.card-combo .card-header .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card-combo .card-header .card-image:before {
    display: block;
    content: "";
    padding-top: 85%;
}

.card-combo .card-header .card-image .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.card-combo .card-body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
}

.card-combo .card-body .card-information {
    align-self: center;
}

.card-combo .card-body .card-information .card-badge .button-theme {
    padding: 5px 20px;
    font-size: 1em;
}

.card-combo .card-body .card-information .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    line-height: 1.3;
    margin-top: 15px;
}

.card-combo .card-body .card-information .card-title > a {
    color: var(--primary-color);
    font-weight: var(--fw700);
    font-size: 1.2em;
}

.card-combo .card-body .card-information .card-text {
    font-size: 1em;
    color: var(--gray-500);
    margin-bottom: 10px;
}

.card-combo .card-body .card-information .card-star {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: var(--gray-400);
    margin-bottom: 15px;
}

.card-combo .card-body .card-information .card-star .fas.is-checked {
    color: var(--star-color);
}

.card-combo .card-body .card-information .card-star .fas + .fas {
    margin-left: 5px;
}

.card-combo .card-body .card-information .card-rate {
    margin-bottom: 15px;
    display: flex;
}

.card-combo .card-body .card-information .card-rate .card-rate_badge {
    font-weight: var(--fw700);
    font-size: 1.1em;
    color: var(--white);
    background: var(--secondary-color);
    width: 45px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 11px;
}

.card-combo .card-body .card-information .card-rate .card-rate_badge:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--secondary-color);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.card-combo .card-body .card-information .card-rate .card-rate_text {
    align-self: center;
    font-weight: var(--fw700);
    color: var(--primary-color);
    font-size: 1.1em;
}

.card-combo .card-body .card-information .card-location {
    font-size: 1em;
    color: var(--gray-500);
}

.card-combo .card-body .card-description {
    width: 350px;
    border-left: 1px solid rgba(0, 0, 0, .15);
    margin-left: auto;
    padding-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.card-combo .card-body .card-description .card-price {
    margin-bottom: 5px;
}

.card-combo .card-body .card-description .card-price .text {
    font-size: 1.1em;
    color: var(--gray-500);
    margin-bottom: 2px;
}

.card-combo .card-body .card-description .card-price .value {
    color: var(--red-color);
    font-weight: var(--fw700);
    font-size: 1.4em;
}

.card-combo .card-body .card-description .card-price .value > span {
    color: var(--gray-900);
    font-size: .7em;
    font-weight: var(--fw400);
}

.card-combo .card-body .card-description .card-day {
    color: var(--gray-500);
    font-size: 1em;
}

.card-combo .card-body .card-description .card-day span i {
    margin-right: 4px;
}

.card-combo .card-body .card-description .card-buttons {
    margin-top: 20px;
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
}

.card-combo .card-body .card-description .card-buttons .button-theme + .button-theme {
    margin-top: 5px;
    margin-left: 0;
}

.card-combo .card-body .card-description .card-buttons .button-theme_ui__secondary {
    font-size: .9em;
    padding: 5px 15px;
}

.card-combo .card-body .card-description .card-text {
    margin-top: 20px;
    font-size: 1em;
    color: var(--gray-500);
}

.card-combo:hover {
    box-shadow: var(--shadow-lg);
}

.card-combo .card-header:hover .card-image .card-img-top {
    transform: scale(1.1);
    opacity: .8;
}

.card-combo .card-body .card-information .card-title > a:hover {
    color: var(--primary-color);
}

.modal-theme .modal-header {
    align-items: center;
}

.modal-theme .modal-header .modal-title {
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: var(--fw700);
    color: var(--primary-color);
    padding-top: 4px;
}

.modal-theme .modal-body {
    background-color: var(--light-color);
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);
}

.modal-theme .modal-body .choose-time_list {
    padding-right: 1rem;
    margin-right: -1rem;
    overflow-y: auto;
}

.modal-theme .modal-body .choose-time_list .choose-time_item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px;
    border: 1px dashed var(--gray-200);
    background-color: var(--white);
}

.modal-theme .modal-body .choose-time_list .choose-time_item .title {
    font-size: 1.1em;
    font-weight: var(--fw700);
    line-height: 1.2;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content .time {
    background-color: rgba(247, 147, 33, .1);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
    border-radius: 4px;
    line-height: 1.2;
    padding: 8px 10px;
    font-size: .9em;
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content .time > span {
    font-size: 1.4em;
    font-weight: 700;
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content .price {
    display: flex;
    align-items: flex-end;
    padding-right: 15px;
    font-size: 1.1em;
    color: var(--gray-600);
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content .price > span {
    margin-left: 5px;
    font-weight: var(--fw700);
    font-size: 1.3em;
    color: var(--red-color);
}

.modal-theme .modal-body .choose-time_list .choose-time_item .content .button-theme {
    margin-left: auto;
    padding: 4px 15px;
    font-size: .95em;
}

.modal-theme .modal-body .choose-time_list .choose-time_item + .choose-time_item {
    margin-top: 15px;
}

.footer-item {
    margin: 15px 0;
}

.footer .footer-heading {
    font-size: 1.05em;
    color: var(--gray-700);
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: var(--fw700);
}

.footer .footer-heading > a {
    color: inherit;
}

.footer .footer-heading > a:hover {
    color: var(--primary-color);
}

.footer .footer-top .footer-list ul li {
    padding: 2px 0;
}

.footer .footer-top .footer-list ul li a {
    font-size: .975em;
    color: var(--gray-500);
}

.footer .footer-top .footer-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-top .footer-images a + a {
    margin-left: 25px;
}

.footer .footer-top .footer-desc {
    text-align: center;
    font-size: .975em;
    color: var(--gray-500);
    margin-top: 10px;
}

.footer .footer-bottom .footer-heading {
    margin-bottom: 5px;
}

.footer .footer-bottom .footer-heading > a {
    display: flex;
    align-items: center;
}

.footer .footer-bottom .footer-heading img {
    object-fit: contain;
    height: 40px;
    margin-right: 6px;
}

.footer .footer-bottom .footer-text {
    color: var(--gray-600);
    margin-top: 10px;
    font-size: .975em;
}

.footer .footer-bottom .footer-text i,
.footer .footer-bottom .footer-text b,
.footer .footer-bottom .footer-text strong {
    color: var(--gray-900);
}

.footer .footer-bottom .footer-text a {
    color: var(--gray-500);
}

.footer .footer-bottom .footer-text a:hover {
    color: var(--primary-color);
}

.footer .footer-bottom .footer-social {
    margin-top: 10px;
}

.footer .footer-bottom .footer-social .footer-social_text {
    display: flex;
    align-items: center;
    font-size: .975em;
    color: var(--primary-color);
    font-weight: var(--fw700);
}

.footer .footer-bottom .footer-social .footer-social_text .fb-like {
    margin: 0 5px;
}

.footer .footer-bottom .footer-social .footer-social_text .fb-like > span,
.footer .footer-bottom .footer-social .footer-social_text .fb-like > span > iframe {
    height: 20px !important;
    width: 110px !important;
}

.footer .footer-bottom .footer-social .footer-social_text > a {
    color: var(--gray-500);
    padding-top: 2px;
    font-weight: var(--fw400);
}

.footer .footer-bottom .footer-social .footer-social_text > a:hover {
    color: var(--primary-color);
}

.footer .footer-bottom .footer-social .footer-social_list {
    margin-top: 10px;
}

.footer .footer-bottom .footer-social .footer-social_list > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    color: var(--white);
    border-radius: 50%;
    line-height: 0;
    font-size: 1em;
    transition: .3s ease-in-out;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li > a img {
    width: 16px;
    height: 16px;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li > a:hover {
    transform: translateY(-5px);
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li + li {
    margin-left: 8px;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li.facebook a {
    background-color: #0E8DF2;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li.zalo a {
    background-color: #0068FF;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li.instagram a {
    background-color: #B62971;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li.tiktok a {
    background-color: #000000;
}

.footer .footer-bottom .footer-social .footer-social_list > ul > li.youtube a {
    background-color: #FF0000;
}

.footer .footer-bottom .footer-contact {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer .footer-bottom .footer-contact > a {
    font-weight: var(--fw700);
    color: var(--secondary-color);
    font-size: 1.7em;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.footer .footer-bottom .footer-contact > a > i {
    font-size: .85em;
    margin-right: 5px;
}

.footer .footer-bottom .footer-contact .dropdown .dropdown-toggle {
    background-color: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    font-size: .85em;
    color: var(--gray-400);
}

.footer .footer-bottom .footer-contact .dropdown .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .015);
    padding: 12px 20px;
}

.footer .footer-bottom .footer-contact .dropdown .dropdown-menu .dropdown-item {
    padding: 8px 0;
    background-color: transparent !important;
    color: var(--secondary-color);
    font-weight: var(--fw700);
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-bottom .footer-contact .dropdown .dropdown-menu .dropdown-item > span {
    color: var(--gray-700);
    font-weight: var(--fw400);
    margin-right: 15px;
}

.footer .footer-bottom .footer-contact .dropdown .dropdown-menu .dropdown-item + .dropdown-item {
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.footer .footer-bottom .footer-support {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer .footer-bottom .footer-support > a {
    display: flex;
    align-items: center;
    color: var(--gray-500);
    font-size: .975em;
}

.footer .footer-bottom .footer-support > a > span {
    background-color: #0E8DF2;
    color: var(--white);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 1.65em;
}

.footer .footer-bottom .footer-support > a:hover {
    color: var(--primary-color);
}

.footer .footer-bottom .footer-app {
    display: flex;
    align-items: center;
}

.footer .footer-bottom .footer-app .footer-qr {
    margin-right: 8px;
}

.footer .footer-bottom .footer-app .footer-qr img {
    width: 68px;
    height: 68px;
}

.footer .footer-bottom .footer-app .footer-apps {
    display: flex;
    flex-direction: column;
}

.footer .footer-bottom .footer-app .footer-apps a + a {
    margin-top: 10px;
}

.footer .footer-bottom .footer-app .footer-apps img {
    height: 29px;
    width: auto;
    max-width: 100%;
}

@media screen and (min-width: 1349px) {
    .footer .footer-top .footer-item {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.flatpickr-current-month {
    font-size: 14px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-size: 1em;
    color: var(--gray-400);
}

.numInputWrapper span {
    display: none;
}

.flatpickr-current-month input.cur-year {
    text-align: right;
    font-size: 1em;
    color: var(--gray-400);
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    width: 11px;
    height: 11px;
}

.flatpickr-day.today {
    border-color: transparent;
}

.flatpickr-day.selected {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.flatpickr-calendar:before, .flatpickr-calendar:after {
    display: none;
}

.section-breadcrumb {
    padding: 15px 0;
}

.section-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0;
}

.section-breadcrumb .breadcrumb .breadcrumb-item {
    color: var(--gray-400);
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a {
    color: var(--gray-700);
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a:hover {
    color: var(--primary-color);
}

.section-breadcrumb .breadcrumb .breadcrumb-item i {
    margin-right: 4px;
}

.section-search .search-form {
    padding: 10px;
    border-radius: 4px;
    background: var(--gray-200);
}

.section-search .search-form .form-fields {
    display: flex;
    width: calc(100% + 10px);
    margin: 0 -5px;
}

.section-search .search-form .form-fields .form-field {
    padding-left: 5px;
    padding-right: 5px;
}

.section-search .search-form .form-fields .form-field.form-field-50 {
    width: 50%;
}

.section-search .search-form .form-fields .form-field.form-field-35 {
    width: 35%;
}

.section-search .search-form .form-fields .form-field.form-field-15 {
    width: 15%;
}

.search-dropdowns {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-dropdowns .search-dropdown_item .dropdown-toggle {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--gray-300);
    background: var(--white);
    color: var(--gray-700);
    border-radius: 4px;
    font-size: 1.05em;
    padding: 4px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.search-dropdowns .search-dropdown_item .dropdown-menu {
    border-radius: 4px;
    margin-top: 5px;
    border: 0;
    padding: 5px 0;
    background: var(--white);
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    min-width: 140px;
}

.search-dropdowns .search-dropdown_item .dropdown-menu .dropdown-item {
    background: transparent;
    color: var(--gray-900);
    padding: 5px 10px 5px 35px;
    position: relative;
    transition: var(--transition);
    font-size: 1.05em;
}

.search-dropdowns .search-dropdown_item .dropdown-menu .dropdown-item:hover {
    background: var(--light-color);
    color: var(--primary-color);
}

.search-dropdowns .search-dropdown_item .dropdown-menu .dropdown-item:before {
    top: 10px;
    left: 10px;
    background: url("../images/ic_check.png");
    width: 14px;
    height: 10px;
    position: absolute;
    content: "";
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
}

.search-dropdowns .search-dropdown_item .dropdown-menu .dropdown-item.active {
    color: var(--primary-color);
}

.search-dropdowns .search-dropdown_item .dropdown-menu .dropdown-item.active:before {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.search-dropdowns .search-dropdown_item .dropdown-toggle:hover {
    background: var(--light-color);
}

.search-dropdowns .search-dropdown_item + .search-dropdown_item {
    margin-left: 15px;
}